#pixel-grid{
    display: grid;
    grid-template-columns: repeat(100, 5px);
}

.canvas-wrapper{
    display: flex;
    justify-content: center;
}

.tooltip{
    color: white;
    background-color: grey;
    max-width: 220px;
}