#pixel-grid{
    display: grid;
    grid-template-columns: repeat(100, 5px);
}

.canvas-wrapper{
    height: 1em;
    width: 1em;
}

.tooltip{
    color: white;
    background-color: grey;
    max-width: 220px;
}